<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navmenu" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navmenu-ul">
        <li class="nav-item custom-nav-item-01">
          <a class="nav-link" href="#"><strong>MONTAR MEU KIT</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRATOS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">todos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Low carb</a>
            <a class="dropdown-item" href="#">Veganos</a>
            <a class="dropdown-item" href="#">Aves</a>
            <a class="dropdown-item" href="#">Bovino</a>
            <a class="dropdown-item" href="#">Creme</a>
            <a class="dropdown-item" href="#">Pescado</a>
            <a class="dropdown-item" href="#">Suino</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ENTREGA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SOBRE NOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REVENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTATO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
