/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");

header {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: black;
}

// navbar
.nav-container {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  padding: 0;
}

.image-leve {
  text-align: center;
}

.image-leve img {
  min-width: 160px;
  margin: 10px 10px 10px 10px;
}

.navitem-txt {
  font-size: 10px;
}

.navitem-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  flex-grow: 100;
}

.navitem-holder a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #424242;
  font-size: 1.25vw;
}

.navitem-holder a i {
  font-size: 35px;
}

.menu-btn_burguer {
  background-image: url("hamburguer-menu.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center top;
  color: #424242;
}

// navmenu

.navmenu-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  flex-grow: 100;
  padding: 1em 0.5em;
}

.custom-nav-item-01 {
  background-color: #ff9715;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 3vw 0 3vw;
}
.custom-nav-item-01 a {
  color: white !important;
}

.nounderline a {
  text-decoration: none !important;
}

.dropdown-item {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.nav-menu {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 18px;
}

.nav-menu:hover {
  text-decoration: none;
  color: black;
}

.nav-item {
  text-align: center;
  padding: 7px;
}
