<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<tbody>
  <div class="card-container">
    <% cache @products do%>
      <% @products.each do |product| %>
        <%= render 'productCard', product: product %>
      <% end %>
    <% end %>
  </div>
</tbody>
<br>
<%= link_to 'New Product', new_product_path %>
